/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .filtres {
        display: flex;
        flex-wrap: wrap;
    }

    .rechercher {
        padding-top: 30px;
    }


}