/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .Activités-cards .card img {
        max-width: 100%; 
        Height: 200px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .Activités-cards {
        flex-direction: column;    
    }

    .Activités-cards .card img {
        width: 100%;
        height: 141px; 
    }
}