/* LOGO ET MENU */
#logo {
    width: 60px;
    height: 25%;
    margin: 30px 0px;
}

.nav_menu {
    display: flex;
    gap: 68px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.menu:hover {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
    margin-top: -3px; 
}

/* SECTION RECHERCHER */
.rechercher h1{
    margin: 0px;
    
}

.rechercher p{
    margin-top: 8px;
    margin-bottom: 0px;
    
}

.search-form {
    display: flex;
    padding-top: 35px;
}

#marker {
    padding: 0.7rem 1rem;
    border-radius: 15px 0 0 15px

}

#rectangle_Marseille {
    margin-left: 10px;
    border-width: 0px;
    font-weight: bolder;  
}

#rectangle_Marseille::placeholder {
    color: black; 
    font-size: medium;

}

#search-button {
    padding: 11px;
    border-radius: 0 15px 15px 0;
    border-width: 0px;
    background-color: var(--main-color);
    color: white;
    font-weight: bolder; 
}

.search-icon {
    display: none;
}

/* FILTRES */
.filtres {
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtres h3{
    margin: 0px;
}


.filtres div {
    gap: 15px;
    display: flex;
}

.fa-info {
   font-size: 10px;
   
}

.filter-button {
    height: 50px;
    cursor: pointer;
    border-radius: 25px; 
    padding: 4px 19px 4px 19px;
    border: 2px solid var(--border-color);
    background-color: white;
    align-items: center;
    display: flex;

}

.filter-button:hover {
    color: var(--main-color);
}

.filtres .fa-solid{
    padding-right: 8px;
    font-size: 20px;

}

.filtre-texte {
    font-size: 17px;
    font-weight:bold;
}

/* INFOS */
.info {
    padding-top: 35px;
    display: flex;
    align-items:center;
    gap: 15px;
    padding-bottom: 35px;
}

.info p{
    margin: 0px;
}

.info .fa-solid {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var(--border-color);
} 

/* ACTIVITE-MARSEILLE  */
.Activités-Marseille {
    padding: 30px;
 } 

.Activités-cards {
   display: flex;
   gap: 30px;
} 

.Activités-cards img{
    max-width: 100%;
    width: 290px;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 } 

 .Activités-cards .card-title {
    margin: 15px;
 }  

/* FOOTER  */

.footer {  
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  

 .nav_footer {  
    display: flex;
    flex-direction: column; 
    gap: 15px;
    width: 500px;
    padding: 20px;
}  

.à-propos {  
    margin: 0px;
}  

.menu_footer:hover {  
    color: var(--main-color);   
}  
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: lightgrey;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    padding-top: 0px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    margin-top: 0px;
    margin-bottom: 35px;
}

.hebergements img{
    height: 120px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards a{
    width: 30%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 3px;
}

.hebergements-cards .card {
    margin-top: 0px;
}

.Afficher-plus {
    display: flex;
    justify-content: start;
}

.Afficher-plus h3{
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 35px;
}


.card-txt:hover {  
    color: var(--main-color);   
}  


/****** Populaires ***********/
.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        order: 1;
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
   .populaires-cards {
    flex-direction: column
   }

   .populaires-cards a {
    width: 100%;
    }

}